.cart-section{
	display: none;
}

button {
	padding: 0.4em;
	margin: 2px;
	border: 1.5px solid black;
	border-radius: 8%;
	background-color: rgb(250, 252, 252);
}

input{
	padding: 0.3em;
	border: 1.5px solid black;
	border-radius: 8%;
	background-color: rgb(250, 252, 252);

}


.cart-box {
	display: flex;
	border: black 1px solid;
	background-color: white;
	padding: 2em;
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 50%;
	left: 42%;
  }
